@{
    ViewData["Title"] = "Login";
}
<div class="nastred">
    <h1>Login</h1>
    @if (ViewData["chyba"] != null)
    {
        <div class="error">@ViewData["chyba"]</div>
    }
    <form action="/User/Login" method="post">
        <div>
            <label for="fname">login (bez čísla):</label><br>               <!--login-->
            <input type="text" name="login"><br>
        </div>

        <div>
        <label for="fname">číslo loginu:</label><br>                        <!--číslo loginu-->
        <input type="number" name="login"><br>
        </div>

        <div>
        <label for="lname">Password:</label><br>
        <input type="password" name="password"><br />                      <!--heslo-->
        <input type="submit" value="Submit">
        </div>
    </form>

    nemáte účet? <a asp-controller="User" asp-action="Register">Zaregistrujte se</a>
</div>