html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url('/obrazky/pozadi.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

header {
  min-height: 70px;
}

header::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 30px; /* Zde nastavuješ výšku přechodu do ztracena */
  background: linear-gradient(to bottom, #223974, transparent);
  pointer-events: none; /* Aby neblokoval klikání na prvky pod ním */
}

/* Vlastní styly pro tlačítka v hlavičce */
.btn-header {
  background-color: #ffffff;
  color: #223974; /* Tmavě modrý text (barva hlavičky) */
  border: 2px solid #ffffff;
  transition: all 0.3s ease-in-out;
}

.btn-header:hover {
  background-color: transparent; /* Průhledné pozadí při najetí - prosvitne hlavička */
  color: #ffffff; /* Bílý text */
  border: 2px solid #ffffff; /* Bílé ohraničení */
}
